@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'ITCAvantGardeStd BkCn';
	src: url('../fonts/ITCAvantGardeStd_BkCn/ITCAvantGardeStd-BkCn.eot');
	src: url('../fonts/ITCAvantGardeStd_BkCn/ITCAvantGardeStd-BkCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCAvantGardeStd_BkCn/ITCAvantGardeStd-BkCn.woff') format('woff'),
		url('../fonts/ITCAvantGardeStd_BkCn/ITCAvantGardeStd-BkCn.ttf') format('truetype'),
		url('../fonts/ITCAvantGardeStd_BkCn/ITCAvantGardeStd-BkCn.svg') format('svg');
}
@font-face {
	font-family: 'ITCAvantGardeStd Md';
	src: url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.eot');
	src: url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.woff') format('woff'),
		url('../fonts/ITCAvantGardeStd_BkCn/ITCAvantGardeStd-Md.ttf') format('truetype'),
		url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.svg') format('svg');
}
@font-face {
	font-family: 'ITCAvantGardeStd Demi';
	src: url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.eot');
	src: url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.woff') format('woff'),
		url('../fonts/ITCAvantGardeStd_BkCn/ITCAvantGardeStd-Md.ttf') format('truetype'),
		url('../fonts/ITCAvantGardeStd_Md/ITCAvantGardeStd-Md.svg') format('svg');
}