<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <error-page>
        <error-code>404</error-code>
        <location>/page_not_found.jsp</location>
    </error-page> 

    <error-page>
        <error-code>500</error-code>
        <location>/internal_server_error.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/internal_server_error.jsp</location>
    </error-page>
    
    <context-param>
        <param-name>ImagesDirectory</param-name>
        <param-value>images</param-value>
    </context-param>
    
    <context-param>
        <param-name>JavaScriptDirectory</param-name>
        <param-value>js</param-value>
    </context-param>
    
    <context-param>
        <param-name>CSSDirectory</param-name>
        <param-value>css</param-value>
    </context-param>
    
</web-app>