@font-face {
	font-family: 'ITCAvantGardeStd Demi';
	src: url('ITCAvantGardeStd-Demi.eot');
	src: url('ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'),
		url('ITCAvantGardeStd-Demi.woff') format('woff'),
		url('ITCAvantGardeStd-Demi.ttf') format('truetype'),
		url('ITCAvantGardeStd-Demi.svg') format('svg');
}