@charset "utf-8";
/* CSS Document */
/*[ GLOBALS ]*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0em;
	padding: 0em;
	text-align: center;
	font-family: "ITCAvantGardeStd BkCn", Sans-Serif;
	font-style: normal;
	font-weight: 400;
	background-color: #E6E6E6;
}

.warningMessage{
	color:red;
	font-size:16px;
	font-weight:bold;
}

option:hover {
	background-color: #0F6;
}
#page {
	max-width: 1280px;
	min-width: 800px;
	margin: 0em auto;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: #eeeeee;
	background-image: url(../../../images/CMS.svg);
	background-repeat: no-repeat;
	background-size: 1280px;
	background-position: right top;
	display: table;/*-webkit-filter: invert();*/
}


p {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: inherit;
	border: none;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
/*[ HEADER ]*/
header#header {
	max-width: 1280px;
	height: 140px;
	background-color: #f9f9f9;
	border-color: #454545;
	border-top-style: solid;
	border-top-width: 20px;
}
header#header img {
	float: left;
	margin-top: 40px;
	margin-left: 40px;
	width: 232.5px;
	height: 50px;
	border: none;
}
header#header nav {
	font-family: "ITCAvantGardeStd BkCn", Sans-Serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #454545;
	margin-right: 40px;
	margin-top: 0px;
}
header#header li {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	background-color: inherit;
	float: right;
	padding: 10px 15px;
	background-color: #EEE;
	cursor: pointer;
}
header#header li:hover {
	background-color: #8C8C8C;
	color: #FFFFFF;
}
header#header li.divisor {
	float: right;
	display: block;
	width: 3px;
	margin-left: -1px;
	margin-right: 2px;
	padding: 10px 0em;
	background-color: #FFF;
}
/*[ MENU ]*/
aside {
	width: 200px;
	float: left;
	padding-top: 20px;
	padding-left: 40px;
}
aside nav ul .menu {
	border-right: 10px solid #EEEEEE;
	cursor: pointer;
}
aside nav ul .menu #calendar {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #calendar:hover {
	border-left: 95px solid #9F100B;
}
aside nav ul .menu #createEvent {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #createEvent:hover {
	border-left: 68px solid #9F100B;
}
aside nav ul .menu #manageUsers {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #manageUsers:hover {
	border-left: 56px solid #9F100B;
}
aside nav ul .menu #departments {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #departments:hover {
	border-left: 68px solid #9F100B;
}
aside nav ul .menu #departmentUsers {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #departmentUsers:hover {
	border-left: 68px solid #9F100B;
}
aside nav ul .menu #departmentUsers {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #departmentUsers:hover {
	border-left: 30px solid #9F100B;
}
aside nav ul .menu #subjects {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #subjects:hover {
	border-left: 102px solid #9F100B;
}
aside nav ul .menu #classSettings {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #classSettings:hover {
	border-left: 61px solid #9F100B;
}
aside nav ul .menu #systemSettings {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #systemSettings:hover {
	border-left: 47px solid #9F100B;
}
aside nav ul .menu #settings {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border-left: 0px solid #EEEEEE;
}
aside nav ul .menu #settings:hover {
	border-left: 108px solid #9F100B;
}
aside nav ul li {
	font-family: "ITCAvantGardeStd Md", Sans-Serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	text-align: right;
	text-decoration: none;
	color: #FFF;
	background-color: #CD352B;
	height: 39px;
	float: none;
	padding-right: 10px;
	margin-bottom: 2px;
	height: 29px;
	padding-top: 10px;
	border-spacing: 0px 0px;
	border-right: 2px solid #FFFFFF;
	padding-bottom: 0em;
	padding-left: 0em;
}
/*[ CONTENT ]*/
section {
	width: 900px;
	height: auto;
	padding-left: 100px;
	margin-top: 20px;
	margin-bottom: 40px;
	float: left;
}
section#login {
	margin-top: 10%;
	margin-left: 170px;
	margin-bottom: 10%;
}
section header p {
	font-family: "ITCAvantGardeStd BkCn";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #838383;
	cursor: default;
}
section header p a:hover {
	text-decoration: underline;
	color: #454545;
}
section header h1 {
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
	color: #656565;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	cursor: default;
}
section form article {
	display: table;
	width: 900px;
}
section form article header {
	display: block;
	margin-bottom: 30px;
	padding-bottom: 0px;
	cursor: pointer;
}
section form article header h2 {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	color: #838383;
	text-align: right;
	letter-spacing: 0.05em;
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	padding-top: 5px;
	border-bottom: 1px solid #454545;
}
h3 {
	width: 900px;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	color: #838383;
	text-align: right;
	letter-spacing: 0.05em;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
	padding-top: 5px;
	border-bottom: 1px solid #454545;
}
h4 {
	width: 900px;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	color: #838383;
	text-align: right;
	letter-spacing: 0.05em;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
	padding-top: 5px;
	border-bottom: 1px solid #454545;
}
section form article header img {
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	float: right;
	display: block;
}
section form article header .expandContent {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	padding-bottom: 5px;
}
section form article fieldset {
	border: none;
	margin: 0px;
	padding: 0px;
}
section form article fieldset div.component {
	width: 620px;
	margin-bottom: 18px;
	clear: both;
	display: block;
	float: left;
	position: relative;
}
div#calendar {
	width: 900px;
	margin-left: 0px;
	display: block;
}
section form article fieldset div.tableComponent {
	width: 620px;
	clear: both;
	display: block;
	float: left;
	position: relative;
}
section form article fieldset div.component label.label {
	width: 200px;
	float: left;
	clear: left;
	display: block;
	padding-top: 10px;
	font-size: 18px;
	text-transform: uppercase;
	text-align: right;
	color: #454545;
	font-family: "ITCAvantGardeStd BkCn";
	font-style: normal;
	font-weight: 500;
}
#error {
	width: 620px;
	float: none;
	clear: both;
}
label.error{
	color:red;
	margin-left:220px;
}
section form article fieldset div.component input.input, div.dataTables_filter input, .searchBox {
	height: 38px;
	width: 394px;
	display: block;
	font-size: 15px;
	font-family: "ITCAvantGardeStd BkCn";
	font-style: normal;
	font-weight: 400;
	color: #838383;
	outline: none;
	float: right;
	padding-left: 8px;
	z-index: 4;
	border: 1px solid #AAAAAA;
}
.searchBox {
	width: 345px;
}
input:required {
 box-shadow: none;
}
input:-moz-ui-invalid:/*not(output)*/ {
 box-shadow: 0 0 1.5px 1px red;
}
input:-moz-placeholder {
 box-shadow:none !important;
}
/*input:invalid {
    box-shadow: 0 0 3px red;
}*/
svg path {
	fill: red;
}
section form article fieldset div.component img.svg {
	position: absolute;
	top: 13px;
	right: 10px;
	z-index: 5;
}
section form article fieldset div.component input.input:focus, div.dataTables_filter input:focus {
	outline: none;
	border: 1px solid #9F100B;
}
/*[ CHECKBOX ]*/
section form article fieldset div.component div.checkbox {
	height: 24px;
	margin-left: 216px;
	position: relative;
	float: left;
	clear: left;
	display: block;
}
section form article fieldset div.component div.checkbox input[type=checkbox] {
	display: none;
	visibility: hidden;
}
section form article fieldset div.component div.checkbox span.box {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-width: 1.333px;
	border-color: rgb( 69, 69, 69 );
	border-style: solid;
	background-color: rgb( 255, 255, 255 );
	opacity: 0.5;
	display: block;
	cursor: pointer;
}
section form article fieldset div.component div.checkbox label.checkmark {
	position: absolute;
	width: 11px;
	height: 4px;
	top: 7px;
	left: 5px;
	border: 2px solid #000;
	border-top: none;
	border-right: none;
	background: transparent;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: block;
	cursor: pointer;
}
section form article fieldset div.component div.checkbox label.text {
	margin-left: 30px;
	font-size: 16px;
	color: #454545;
	font-family: "ITCAvantGardeStd BkCn";
	font-style: normal;
	font-weight: 500;
}
/*[ RADIOBUTTON ]*/
section form article fieldset div.component div.radio {
	height: 24px;
	margin-left: 216px;
	position: relative;
	float: left;
	clear: left;
	display: block;
	cursor: pointer;
}
section form article fieldset div.component div.radio input[type=radio] {
	display: none;
	visibility: hidden;
}
section form article fieldset div.component div.radio span.box {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-color: rgb( 69, 69, 69 );
	border-style: solid;
	border-radius: 50%;
	background-color: rgb( 255, 255, 255 );
	opacity: 0.5;
	display: block;
	cursor: pointer;
}
section form article fieldset div.component div.radio label.checkradio {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 5px;
	left: 5px;
	border: 1px solid #000;
	border-radius: 50%;
	background: #000;
	display: block;
	cursor: pointer;
}
section form article fieldset div.component div.radio label.text {
	margin-left: 30px;
	font-size: 16px;
	color: #454545;
	font-family: "ITCAvantGardeStd BkCn";
	font-style: normal;
	font-weight: 500;
}
/*[ BUTTONS ]*/
section form .buttons {
	margin-left: 216px;
}
section form .actionButtons {
	margin-left: 0px;
}
section form .buttons .button, section form .actionButtons .button {
	padding: 8px 15px;
	min-width: 85px;
	height: 39px;
	margin-left: 0px;
	margin-right: 18px;
	font-size: 16px;
	color: #FFFFFF;
	border-style: none;
	cursor: pointer;
	background-color: #CD352B;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
/* DatePicker Component */
div.datePicker {
	width: 39px;
	height: 42px;
	float: right;
	display: block;
	margin-right: 0px;
	margin-left: 10px;
	position: relative; /* Enable absolute positionning for children and pseudo elements */
	cursor: pointer;
}
input.datePicker {
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 38px;
	height: 40px;
	border: none;
}
button.ui-datepicker-trigger {
	width: 39px;
	height: 42px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	border: none;
	background-color: #CD352B;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	background-image:url(../../../images/themes/base/calendarTransparent.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.search {
	width: 39px;
	height: 42px;
	float: right;
	display: block;
	margin-right: 0px;
	margin-left: 10px;
	background-image: url(../../../images/searchTransparent.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative; /* Enable absolute positionning for children and pseudo elements */
	border-style: none;
	background-color: #CD352B;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	cursor: pointer;
}
section form .buttons .button:hover, section form .buttons .actionButton:hover, .datePicker:hover, #search:hover, button.ui-datepicker-trigger:hover, .search:hover {
	background-color: #9F100B;
}
section form .buttons .button:active, section form .buttons .actionButton:active, .datePicker:active, #search:active, button.ui-datepicker-trigger:active, .search:hover {
	background-color: #9F100B;
}
/* WEEK - CHECKBOX AND RADIOBUTTON BUTTONS*/
section form article fieldset div.component#week, section form article fieldset div.component#selectDayoftheWeek,
section form article fieldset div.component#weekCheckbox,section form article fieldset div.component#dayoftheWeek 
{
	margin-left: 216px;
}
section form article fieldset div.component#week .weekday, section form article fieldset div.component#selectDayoftheWeek .weekday,
section form article fieldset div.component#weekCheckbox .weekday,section form article fieldset div.component#dayoftheWeek .weekday 
{
	padding: 3px;
	width: 50px;
	height: 39px;
	margin-right: 5.1px;
	font-size: 14px;
	color: #FFFFFF;
	border-style: none;
	cursor: pointer;
	background-color: #CD352B;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
section form article fieldset div.component#week .weekday:hover, section form article fieldset div.component#selectDayoftheWeek .weekday:hover,
section form article fieldset div.component#weekCheckbox .weekday:hover,section form article fieldset div.component#dayoftheWeek .weekday:hover
{
	background-color: #9F100B;
}
section form article fieldset div.component#week .weekday:active, section form article fieldset div.component#selectDayoftheWeek .weekday:active,
section form article fieldset div.component#weekCheckbox .weekday:active,section form article fieldset div.component#dayoftheWeek .weekday:active
{
	background-color: #9F100B;
}
section form article fieldset div.component#week .weekday.selectedWeekday, section form article fieldset div.component#selectDayoftheWeek .weekday.selectedWeekday,
section form article fieldset div.component#weekCheckbox .weekday.selectedWeekday,section form article fieldset div.component#dayoftheWeek .weekday.selectedWeekday
{
	background-color: #454545;
}

/* FOOTER */
footer {
	display: table-row;
	height: 135px;
	background-color: #f9f9f9;
	color: #ACABAB;
	font-family: "ITCAvantGardeStd BkCn";
	font-style: normal;
	font-weight: 400;
}
footer nav {
	margin-left: 40px;
	margin-top: 15px;
}
footer nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
footer nav li {
	float: left;
	display: block;
	padding: 0em 0.3em;
	font-family: "ITCAvantGardeStd BkCn", Sans-Serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
}
footer nav li a {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	color: inherit;
}
footer nav li a:hover {
	color: #454545;
	text-decoration: underline;
}
footer div#copyright {
	width: 1280px;
	font-size: 13px;
	text-align: center;
	color: #838383;
	padding-top: 50px;
	padding-bottom: 15px;
	border-bottom: 20px solid #454545;
	cursor: default;
}
/* TABLE */
/* Elements */
.tableComponent table {
	table-layout: fixed;
	width: 900px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 10px;
}
.tableComponent .dataTables_filter label {
	width: 620px;
	padding-top: 10px;
	font-size: 15px;
	text-transform: uppercase;
	text-align: right;
	color: #454545;
	font-family: "ITCAvantGardeStd BkCn";
	font-style: normal;
	font-weight: 500;
}
.tableComponent .dataTables_filter {
	float: left;
}
.tableComponent .dataTables_length {
	float: right;/*	margin-top: 11px;*/
}
.tableComponent .dataTables_paginate {
	float: left;
}
.tableComponent .dataTables_info {
	float: right;
	margin-top: 13px;
	cursor: default;
}
.tableComponent div.dataTables_wrapper {
	width: 900px;
}
/* Header cells */
.tableComponent table thead th {
	font-size: 11px;
	font-family: "ITCAvantGardeStd Demi";
	font-style: normal;
	font-weight: 600;
	text-align: left;
	color: #454545;
	text-transform: uppercase;
	padding-top: 30px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 20px;
	border-left: 1px solid #EEEEEE;
	background: #E0E0E0;
	position: relative;
	cursor: default;
}
.tableComponent table thead th.icons {
	padding-left: 0px;
	margin: auto;
	text-align: center;
}
.tableComponent table thead th.icons:after {
	display: none;
}
/*
.tableComponent table thead th:hover {
	background: #454545;
}
*/
.tableComponent table thead th.sorting {
	background-color: #E0E0E0;
	margin-top: -20px;
}
.tableComponent table thead th.sorting_asc {
	background-color: #454545;
	color: #FFFFFF;
}
.tableComponent table thead th.sorting_desc {
	background-color: #454545;
	color: #FFFFFF;
}
.tableComponent table thead th.sorting:after {
	content: "";
	position: absolute;
	margin-left: 7px;
	margin-top: 1px;
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #454545 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #454545 #000000;
 _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.tableComponent table thead th.sorting_asc:after {
	content: "";
	position: absolute;
	margin-left: 7px;
	margin-top: 5px;
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #FFFFFF transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #FFFFFF #000000;
 _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.tableComponent table thead th.sorting_desc:after {
	content: "";
	position: absolute;
	margin-left: 7px;
	margin-top: 5px;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #FFFFFF transparent transparent transparent;
	line-height: 0px;
	_border-color: #FFFFFF #000000 #000000 #000000;
 _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.tableComponent table thead th.sorting span:after {
	content: "";
	position: absolute;
	margin-left: 7px;
	margin-top: 8px;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #454545 transparent transparent transparent;
	line-height: 0px;
	_border-color: #454545 #000000 #000000 #000000;
 _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
/* Body cells */
.tableComponent table tbody tr td {
	position: relative;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 15px;
	font-size: 12px;
	font-family: "ITCAvantGardeStd Md";
	font-style: normal;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #838383;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	background: #FFFFFF;
}
.tableComponent table tbody tr.odd td {
	background: #f2f3f7;
}
.tableComponent table tbody tr .row {
	border-left-style: solid;
	border-left-width: 6px;
	border-left-color: #9F100B;
}
/* Pagination */
.tableComponent a.paginate_button, .tableComponent a.paginate_active {
	position: relative;
	margin-right: 2px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	border: none;
	cursor: pointer;
	background-color: #CD352B;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	display: inline-block;
	width: 39px;
	vertical-align: middle;
	padding-top: 13px;
	height: 30px;
}
.tableComponent span a.paginate_active {
	background-color: #454545;
	cursor: default;
}
.tableComponent paging_full_numbers{
	position: relative;
}
.tableComponent a.paginate_button:hover {
	background-color: #9F100B;
}
.tableComponent a.first.paginate_button {
	background-image:url(../../../images/themes/base/firstArrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.tableComponent a.previous.paginate_button {
	background-image:url(../../../images/themes/base/previousArrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.tableComponent a.next.paginate_button {
	background-image:url(../../../images/themes/base/nextArrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.tableComponent a.last.paginate_button {
	background-image:url(../../../images/themes/base/lastArrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.tableComponent a.paginate_button.paginate_button_disabled, .tableComponent a.paginate_button.paginate_button_disabled:hover {
	background-color: #bcbcbc;/*#E6E6E6;*/
	cursor: default;
}
.tableComponent .paging_full_numbers a:hover {
	text-decoration: none;
}
.tableComponent .paging_full_numbers a:active {
	outline: none;
}

.tableComponent table thead tr .firstColumn {
	border-left: 1px solid #E0E0E0;
	padding-left: 14px;
}
.tableComponent table thead tr .firstColumn.sorting_asc, .tableComponent table thead tr .firstColumn.sorting_desc {
	border-left: 1px solid #454545;
}
.tableComponent table thead tr .firstColumn.sorting {
	border-left: 1px solid #E0E0E0;
}
.tableComponent table tbody tr td a {
	margin-left: -9px;
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
}
.tableComponent table tbody tr td.action img {
	border: none;
	background-image: url('../../../images/status.svg');
}
.tableComponent table tbody tr td.action img {
	border: none;
	background-image: url('../../../images/status.svg');
}
.tableComponent table tbody tr td.status img {
	border: none;
	background-image: url('../../../images/status.svg');
}
.tableComponent table tbody tr td a.view img {
	border: none;
	background-image: url('../../../images/view.svg');
}
.tableComponent table tbody tr td a.modify img {
	border: none;
	background-image: url('../../../images/modify.svg');
}
.tableComponent table tbody tr td a.delete img {
	border: none;
	background-image: url('../../../images/delete.svg');
}
.tableComponent table tbody tr td a.add img {
	border: none;
	background-image: url('../../../images/add.svg');
}
.tableComponent table tbody tr td a.remove img {
	border: none;
	background-image: url('../../../images/remove.svg');
}
.tableComponent table tbody tr td a:hover img {
	background-position: 0px -17px;
}
.tableComponent table tbody tr td a#options:first-child {
	margin-right: 25px;
}
.searchBox:after {
	background-size: 17px;
	border: none;
	border-style: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	border-left: none;
	background-color: #FFFFFF;/* #CD352B;*/
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	width: 39px;
	height: 42px;
	float: right;
	display: block;
	background-image: url('../../../images/search.svg');
	background-position: 100% -17px;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 990;
}

#startTime,#eventDuration {
	float:left;
	margin-left:16px;
	width:135px;	
	cursor: pointer;
	
}

#eventDescription, #description{
	border: 1px solid #AAAAAA;
	font-family: "ITCAvantGardeStd BkCn";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
	margin-left:16px;
	width:398px;
	float:left;
	resize: none;
	height:40px;
	cursor: pointer;
	
}

#eventDescription:focus, #description:focus{
    outline: none;
    border: 1px solid #9F100B;
}

#itemList{
	table-layout: fixed;
    width: 900px;
    clear: both;

	
}

#itemList thead th {
    font-size: 11px;
    font-family: "ITCAvantGardeStd Demi";
    font-style: normal;
    font-weight: 600;
    text-align: left;
    color: #454545;
    text-transform: uppercase;
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-left: 1px solid #EEEEEE;
    background: #E0E0E0;
    position: relative;
    cursor: default;
}

#itemList tbody tr td {
    position: relative;
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 12px;
    font-family: "ITCAvantGardeStd Md";
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #838383;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    background: #FFFFFF;
}

#courseCode, #deptCode, #sectionList{
	border: 1px solid #AAAAAA;
    color: #838383;
    display: block;
    float: right;
    font-family: "ITCAvantGardeStd BkCn";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 38px;
    outline: medium none;
    padding-left: 8px;
    width: 402px;
    z-index: 4;
    text-align:left;
    vertical-align:bottom;
}
#predefinedRoleList th:hover{
	background:none;
}

.buttons #saveSetting{
	margin-left:-200px;
}

#predefinedRoleList tbody tr td input{
	color: #838383;
    font-family: "ITCAvantGardeStd Md";
    font-size: 12px;
    font-style: normal;	
}

div.contactus{
	color: #454545;
    font-family: "ITCAvantGardeStd BkCn";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: 200px;   
    text-align:left;
}

div.contactus p{
	padding:5px;
}

div.contactus a:link, div.help a:link{
     color:#FF0000;    
}
div.contactus a:visited, div.help a:visited{
     color:#00FF00;    
}
div.contactus a:hover,div.help a:hover{
     color:#FF00FF;    
}
div.contactus a:active,div.help a:active{
     color:#0000FF;    
}

#studentListFile {
    color: BLACK;
    cursor: pointer;
    font-size: 16px;
    height: 39px;
    margin-left: 0;
    margin-right: 18px;
    min-width: 85px;
    padding: 8px 15px;
}

#submitFile {
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 39px;
    margin-left: 215px;
    margin-right: 8px;
    min-width: 15px;
    padding: 8px 15px;
    background-color: #CD352B;
    
}

